<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854234427905-7dr3ikes5ncshmg4frjc8v1a19s4fc4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854234427905-7dr3ikes5ncshmg4frjc8v1a19s4fc4u</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Jq6fcIfF2itPWXG0nDBPFKmg76pMW8c</string>
	<key>GCM_SENDER_ID</key>
	<string>854234427905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Innovation-that-excites.mgt100</string>
	<key>PROJECT_ID</key>
	<string>mgt100-75f12</string>
	<key>STORAGE_BUCKET</key>
	<string>mgt100-75f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854234427905:ios:bd605e8e6c1ba2c2098600</string>
	<key>DATABASE_URL</key>
	<string>https://mgt100-75f12.firebaseio.com</string>
</dict>
</plist>